@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;0,700;0,900;1,100;1,400;1,700;1,900&display=swap");

* {
  box-sizing: border-box;
}
body {
  font-size: 16px;
  width: 100%;
  min-height: 100vh;
  margin: 0px;
  padding: 0px;
  font-family: "Poppins", sans-serif;
}

.mainContainer {
  display: grid;
  grid-template-columns: repeat(6, minmax(0, 1fr));
  min-height: 100vh;
  position: relative;
}
.sideBar {
  width: 30%;
}

.mainContent {
  grid-column: span 5 / span 5;
  padding: 0.75rem 4rem;
  background-color: #f9f9f9;
}
.quick {
  margin-top: 50px;
}

.cards {
  margin-top: 10px;
  display: flex;
}

.total {
  background-color: #fdd25a;
  color: black;
  padding: 1.5rem 2rem 1rem 1rem;
  border-radius: 0.75rem;
  position: relative;
  margin-right: 1rem;
}
.cards h6 {
  line-height: 1rem;
  font-size: 0.75rem;
}
.cards h2 {
  line-height: 1.75rem;
  font-size: 1.25rem;
}
.bad {
  background-color: #fd3400;
  color: white;
  padding: 1.5rem 2rem 1rem 1rem;
  border-radius: 0.75rem;
  position: relative;
  margin-right: 1rem;
}

.pending {
  background-color: #000033;
  color: white;
  padding: 1.5rem 2rem 1rem 1rem;
  border-radius: 0.75rem;
  position: relative;
  margin-right: 1rem;
}

.wishlist {
  background-color: white;
  color: black;
  padding: 1.5rem 2rem 1rem 1rem;
  border-radius: 0.75rem;
  position: relative;
  margin-right: 1rem;
}

.customer {
  background-color: white;
  color: black;
  padding: 1.5rem 2rem 1rem 1rem;
  border-radius: 0.75rem;
  position: relative;
}

.cards span {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.latest {
  margin-top: 100px;
  width: 50%;
  padding: 0.75rem 1rem;
  background-color: white;
  border-radius: 1rem;
}

.sound {
  display: flex;
}

.next {
  width: 48px;
  height: 48px;
  padding: 0.5rem;
  border: 1px solid blue;
}

.newQty {
  display: flex;
}
.iphones {
  display: flex;
  flex-direction: column;
  padding: 0rem 0.5rem;
}

.newQtys {
  display: flex;
}

#btn {
  margin-top: 50px;
  background-color: #000033;
  color: white;
  border-radius: 0.2rem 0.2rem;
  padding: 0.1rem;
  width: 25%;
  float: right;
  font-size: 0.8rem;
}
.sixs {
  background-color: grey;
}

.errorOrder {
  background-color: #fdd25a;
}
.besideLatest {
  display: flex;
}

#btn1 {
  background-color: #000033;
  color: white;
  border-radius: 0.2rem 0.2rem;
  padding: 0.2rem;
  margin-top: 5px;
  font-size: 0.75rem;
  width: 50%;
}
.newlatest {
  display: flex;
}

@media (max-width: 768px) {
  .all {
    flex-direction: column;
  }
  .mainContainer {
    display: flex;
  }
  .mainContent {
    padding: 0.75rem;
  }
  .newLatest {
    flex-direction: column;
  }
}
